@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0;
  }

  button {
    @apply focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0;
  }

  a {
    @apply focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0;
  }

  textarea {
    @apply focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.code {
  font-family: "Fira Code", monospace;
}